* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #00300a; 
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 4px;
}

h1 {
    font-size: 1;
    color: #83d87b;
}

.assignments-section {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

h2 {
    font-size: 1;
    margin-bottom: 20px;
    color: #83d87b;
}

.assignments-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.assignment-card {
    background-color: #83d87b;
    padding: 20px;
    border: 1px solid #000000;
    flex: 1 1 calc(33.333% - 20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.assignment-card img {
    width: 300px;
    height: 150px;
    margin-bottom: 15px;
    border: 1px solid #83d87b;
}

.assignment-card h3 {
    margin-bottom: 15px;
    font-size: 1.4em;
    color: #000000;
}

.assignment-card p {
    font-size: 1em;
    color: #000000;
}



@media (max-width: 768px) {
    .assignments-container {
        flex-direction: column;
    }

    .assignment-card {
        flex: 1 1 100%;
        margin-bottom: 20px;
    }
}
