* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #2A363B; 
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2em;
    color: #E84A5F;
}

.assignments-section, .projects-section {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

h2 {
    font-size: 1;
    margin-bottom: 20px;
    color: #FECEAB;
}

.assignments-container, .projects-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap; /* Added to wrap cards on smaller screens */
}

.assignment-card, .project-card {
    background-color: #E84A5F;
    padding: 20px;
    border: 1px solid #000000;
    flex: 1 1 calc(25% - 20px); /* Decrease card width to fit 4 cards per row */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px; /* Add margin to separate rows */
}

.assignment-card img, .project-card img, .project-card iframe {
    width: 100%;
    max-width: 300px; 
    height: auto;
    margin-bottom: 15px;
    border: 1px solid #FECEAB;
}

.assignment-card h3, .project-card h3 {
    margin-bottom: 15px;
    font-size: 1.4em;
    color: #FECEAB;
}

.assignment-card p, .project-card p {
    font-size: 1em;
    color: #FECEAB;
}

a {
    text-decoration: none; 
    color: inherit; 
}

  

/* Responsive design for smaller screens */
@media (max-width: 1200px) {
    .assignment-card, .project-card {
        flex: 1 1 calc(33.333% - 20px); /* 3 cards per row */
    }
}

@media (max-width: 768px) {
    .assignments-container, .projects-container {
        flex-direction: column;
    }

    .assignment-card, .project-card {
        flex: 1 1 100%;
        margin-bottom: 20px;
    }
}
