body {
    background: url("images/hawaii.jpg");
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

#content {
    width: 70%;
    margin: auto;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
    color: #FF6347;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#assignment1 {
    color: #8A2BE2; /* Color for Assignment 1 link */
}

#assignment2 {
    color: #4682B4; /* Color for Assignment 2 link */
}

h1 {
    color: #2E8B57;
}

p {
    color: #696969;
}