.project-card {
    background-color: #611111;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(172, 148, 148, 0.1);
    text-align: center;
    width: 300px;
  }
  
  .project-link {
    display: block;
    color: #bfbc19;
    text-decoration: none;
  }
  
  .project-link h3 {
    font-size: 1.5rem;
    color: #000000;
  }
  
  .project-link p {
    font-size: 1rem;
    color: #000000;
  }
  
  .project-link img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .links-container {
    margin-top: 20px;
  }
  
  .links-container a {
    display: block;
    color: #007bff;
    font-size: 1rem;
    margin-bottom: 10px;
    text-decoration: none;
  }
  
  .links-container a:hover {
    text-decoration: underline;
  }